<nav class="font-nav">
    <div class="container-flex-reverse-row content-center">
            <div class="col-md-4 ml-auto">
                <ul>
                    <li><a href="#">مستندات</a></li>
                    <li><a href="#">بلاگ</a></li>
                    <li><a href="#">پشتیبانی</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <a href="">
                    <img class="logo" src="presentation/assets/images/logo.png" alt="">
                </a>
            </div>
            <div class="col-md-4 mr-auto">
                <ul>
                    <li><a href="#">دموی رایگان</a></li>
                    <li><a href="#">ورود</a> / <a href="#">عضویت</a></li>
                    <li><a href="#"></a></li>
                </ul>
            </div>
        </div>
</nav>

<header>

</header>