<nav>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <ul>
                    <li><a href="#">مستندات</a></li>
                    <li><a href="#">بلاگ</a></li>
                    <li><a href="#">پشتیبانی</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <a href=""><img src="../../../assets/images/logo.png" alt=""></a>
            </div>
            <div class="col-md-4">
                <ul>
                    <li><a href="#">دموی رایگان</a></li>
                    <li><a href="#">ورود</a> / <a href="#">عضویت</a></li>
                    <li><a href="#">icons</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>